body {
    margin: 0;

    padding: 0;

    width: 320px;

    background: #0f172a;

    color: white;

    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

h1 {
    margin: 0;

    font-size: 24px;

    text-align: center;
}

.subtitle {
    text-align: center;

    color: #94a3b8;

    margin-bottom: 20px;

    font-size: 13px;
}

input {
    width: 100%;

    padding: 12px;

    margin-bottom: 12px;

    border: none;

    border-radius: 8px;

    outline: none;

    box-sizing: border-box;

    background: #1e293b;

    color: white;
}

input::placeholder {
    color: #94a3b8;
}

button {
    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 8px;

    background: #2563eb;

    color: white;

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    background: #1d4ed8;
}

.status {
    margin-top: 12px;

    text-align: center;

    color: #22c55e;

    font-size: 13px;
}
